<div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">We are now registering your face...</h4>
            </div>
    
            <div class="content">
                <md-progress-linear md-mode="determinate" value="{{mainCtrl.determinateValue}}"></md-progress-linear>
            </br>
                <img class="centerimage" src="./assets/img/tutorial.png"/>          
                <img class="respimage" src="data:image/jpg;base64, {{mainCtrl.frame}}"/>            
            </div>
        </div>
</div>